.container {
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  color: black;
  font-size: 30px;
}

.downloadButton {
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 6px;
  border: 3px solid #000;
  background-color: #000;
  cursor: pointer;
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
  padding: 10px 20px;
  text-decoration: none;
}
